language: perl
sudo: false

install:
  - ./maint/travis-install-alienbuild
  - perlbrew list
  - dzil authordeps --missing | cpanm -n
  - dzil listdeps --missing | cpanm -n

perl:
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"

env:
  - ALIEN_FORCE=0
  - ALIEN_FORCE=1

script:
  - dzil test -v

env:
  global:
    - PERL_CPANM_OPT='--mirror https://cpan.metacpan.org/ --mirror-only'
